/*article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }*/
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color: #777777;
  } 

a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: #777777;
  } 

a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  color: #777777;
  } 

a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color: #777777;
  } 

p {
	line-height: 2
}

* {
    box-sizing: border-box;
}

body {
	padding: 0;
 	margin: 0;
  	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url(http://hires.patternpictures.com/PP21030314-light-concrete-wall-grunge-background.jpg);
}

.whitebanner {
	position: absolute;
	top: 0;
	left: 0;
	height: 93px;
	width: 100%;
		border-bottom: 3px solid #dddddd;
		background: white;
		z-index: -1;
} 

header {
	max-width: 960px;
	height: 90px;
	margin:0 auto;
	background-color: white;
}

.logo {
	float: left;
	background-color: #4aaaa5;
	color:white;
	height: 90px;
	padding-left: 36px;
	padding-right: 36px;
	text-align: center;
	display: table;
	font-weight: bold;
}

#logo {
	display: table-cell;
	vertical-align: middle;
	color:white;
	padding-bottom: 0px;
}

nav {
	float: right;
	height:90px;
}

.topnav {
	
	display:table;
	font-size: 18px;
	top: 50%; 
	margin: 40px 0px ;
}

.navitem {
	display: table-cell;
	vertical-align: middle;
	padding: 0px 20px 0px 20px;
	border-right-style: solid;
	border-right-width: thin; 
}

.lastitem {
	border: none;
}

.row {
	clear: both;
	height:600px;
}

main	{
	clear: both;
	margin:0 auto;
	width: 960px;
}

article {
	float: left;
	margin-top: 40px;
	width: 650px;
	background-color:#ffffff;
	border: 2px solid #dddddd;
	padding: 30px;
}

aside {
	font-size: 16px;
	margin-top: 30px;
	box-sizing: border-box;
	float: right;
	margin-top: 40px;
	width: 270px;
	background-color:#ffffff;
	border: 2px solid #dddddd;
	padding: 30px;

}

footer {
	clear:both;
	width: 100%;
	position: fixed;
   	left: 0;
   	bottom: 0;
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	height: 100px;
	display: table;
}

.copyright {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}


h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 27px;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-weight: bold;
}

#article {
	border-top: 3px solid #dddddd;
	padding-top: 30px;
}

#aside {
	border-top: 3px solid #dddddd;
	padding-top: 20px;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color:#4aaaa5;
	font-weight: bold;
		padding-bottom: 20px;
}

.profile_img{
	float: left; 
	margin-right: 20px; 
	object-fit: cover;
}

.icons {
}

/**/
/* Attributes for contact form */
/**/


input {
	width: 100%;
	height: 35px;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 116px;
    height: 40px;
    font-size: 20px;
}

textarea {
	width: 100%; 
	height: 200px;
}

/**/
/* Attributes for portfolio images */
/**/

.floating-box {
	display: inline-block;
    width: 278px;
    height: 200px;
    margin: 0px 0px 30px 0px;
    position: relative;
}

.shim {
	display: inline-block;
	width: 20px;
}

.label {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 55px;
    background-color: #4aaaa5;
    color: white;
}

/*

Use three @media screen tags, each with one of these max-widths: 980px, 768px and 640px.

You use 980px because you never want any of the content to be cut off. Since the desktop layout is about 960px wide, you want the media queries to kick in before your content gets cut off.

768px is about the width of a tablet and 640px is about the width of a phone in landscape. */


@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-color: #333;
  }

  /* The wrapper's width will be 600px */
  .wrapper {
    width: 600px;
    padding: 20px;
  }
  #main-content {
  /* Positioning */
    float: none;
   
  /* Visual */
    background: red;
  }
  #sidebar {
    /* Positioning */
    margin-top: 10px;
    float: none;
    /* Visual */
    background: red;
  }
  
  /*Adopting a Pseudo Element*/
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/::first-line*/
  p::first-line {
    color: blue;
    font-variant: small-caps;
  }

*/